<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <titulo-pagina titulo="Financeiro - Cadastros" subTitulo="Custos"></titulo-pagina>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
        <div class="content p-24 vertical-stepper-wrapper">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <form [formGroup]="buscaFormGroup" autocomplete="off" (submit)="buscarItens(true)">
                        <mat-card class="search-filter-card">
                            <mat-card-content>
                                <!-- Filtros-->
                                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                                    <controles-combo-loja #comboloja multiLoja="true" fxFlex="50%" fxFlex.gt-sm="100%"></controles-combo-loja>
                                    <controles-busca-rapida #fornecedor tipo="fornecedor" fxFlex="50%" fxFlex.gt-sm="100%"></controles-busca-rapida>
                                </div>
                                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                                    <mat-form-field class="pl-4" fxFlex="30%">
                                        <mat-select placeholder="Filtrar data" formControlName="opcaoTipoData">
                                            <mat-option value="1">Data de vencimento</mat-option>
                                            <mat-option value="2">Data de pagamento</mat-option>
                                            <mat-option value="3">Data de emissão</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <input matInput ngxDaterangepickerMd
                                               placeholder="Período"
                                               formControlName="periodo"
                                               [autoApply]="false"
                                               [showClearButton]="true"
                                               [alwaysShowCalendars]="true"
                                               [ranges]="ranges"
                                               type="text"
                                               readonly>
                                    </mat-form-field>
                                </div>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Mais opções de filtros
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                ID, valor, etc.
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                                            <mat-form-field fxFlex="30%" class="pr-4">
                                                <mat-label>ID</mat-label>
                                                <input type="text" matInput formControlName="codPagarId" placeholder="Filtre pelo código. Exemplo: 123.">
                                            </mat-form-field>
                                            <mat-form-field fxFlex="30%">
                                                <mat-label>Número do título</mat-label>
                                                <input type="text" matInput formControlName="numTit" placeholder="´Filtre pelo número do título.">
                                            </mat-form-field>
                                            <mat-form-field fxFlex="30%">
                                                <mat-label>Parcela</mat-label>
                                                <input type="text" matInput maxlength="6" formControlName="parcela" placeholder="Filtre pela parcela. Exemplo: 2.">
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                                            <mat-form-field fxFlex="30%">
                                                <mat-label>Valor</mat-label>
                                                <input matInput formControlName="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: true, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }" placeholder="Filtre pelo valor. Exemplo: 200,00." />
                                            </mat-form-field>
                                            <mat-form-field class="pr-4" fxFlex="30%">
                                                <mat-label>Nota</mat-label>
                                                <input type="text" matInput formControlName="nota" placeholder="Filtre pela nota" />
                                            </mat-form-field>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <!-- Filtros-->
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- Menu operações -->
                                <button mat-raised-button type="button" color="basic" class="left-action-button" [matMenuTriggerFor]="menu" [disabled]="!selection.hasValue() || !_usuario.checkPermissionControl('251', 'editar')">
                                    <mat-icon>playlist_add_check</mat-icon>
                                    Operações
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="baixarTitulosSelecionados()" type="button">Baixar títulos selecionados</button>
                                </mat-menu>
                                <!-- Botões -->
                                <button mat-raised-button type="button" color="accent" class="cyan-bg" (click)="imprimirRelatorio()" *ngIf="_usuario.checkPermissionControl('251', 'imprimir')">
                                    <mat-icon>print</mat-icon>
                                    Imprimir
                                </button>
                                <button mat-raised-button type="button" color="accent" class="orange-bg" (click)="definirDadosPadrao()">
                                    <mat-icon>clear</mat-icon>
                                    Limpar
                                </button>
                                <button mat-raised-button type="submit" color="accent" class="blue-bg">
                                    <mat-icon>search</mat-icon>
                                    Buscar
                                </button>
                            </mat-card-actions>
                        </mat-card>
                        <!-- Totalizações -->
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Totais dos títulos
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <div>
                                        <table width="100%" cellspacing="2" cellpadding="2">
                                            <tr>
                                                <th class="title">Títulos</th>
                                            </tr>
                                            <tr fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                                                <td align="right" fxFlex>
                                                    <fieldset class="fieldset">
                                                        <legend class="legend-style1">R$ total a pagar</legend>
                                                        <span>
                                                            <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: true, allowZero: true, nullable: false, align: 'right', precision: 2, inputMode: 1 }"
                                                                   placeholder=""
                                                                   [(ngModel)]="valorPagar"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   readonly />
                                                        </span>
                                                    </fieldset>
                                                </td>
                                            </tr>

                                        </table>
                                        <table width="100%" cellspacing="2" cellpadding="2">
                                            <tr>
                                                <th class="title">Selecionados</th>
                                            </tr>
                                            <tr fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                                                <td align="right" fxFlex>
                                                    <fieldset class="fieldset">
                                                        <legend class="legend-style2">R$ a pagar dos selecionados</legend>
                                                        <span>
                                                            <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: true, allowZero: true, nullable: false, align: 'right', precision: 2, inputMode: 1 }"
                                                                   placeholder=""
                                                                   [(ngModel)]="valorPagarSelecionados"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   readonly />
                                                        </span>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <!-- Totalizações -->
                        <mat-card *ngIf="exibeItensCarregando" class="mt-20" style="display: flex; justify-content: center; align-items: center">
                            <div>
                                <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                                </mat-progress-spinner>
                            </div>
                            <div style="padding-left: 15px;">
                                <h2>
                                    Buscando itens...
                                </h2>
                            </div>
                        </mat-card>
                        <div *ngIf="!exibeItensCarregando && !temItens" class="alert alert-warning mt-20" role="alert">
                            <mat-icon>warning</mat-icon>
                            Não encontramos resultados para sua busca. Altere os filtros e tente novamente.
                        </div>
                        <!-- Legenda -->
                        <controles-legenda [hidden]="!temItens" #legenda
                                           [itens]="[{titulo: 'Vencimento Hoje', cor: 'indigo'},
                                                 {titulo: 'Vencidos até 30 dias', cor: 'blue'},
                                                 {titulo: 'Vencidos entre 30 e 60 dias', cor: 'pink'},
                                                 {titulo: 'Vencidos + 60 dias', cor: 'orange'}]"></controles-legenda>
                        <div [hidden]="exibeItensCarregando || !temItens">
                            <div class="table-scroller">
                                <table mat-table class="table table-medium table-hover" [dataSource]="itensDataSource" matSort matSortActive="codPagarId" matSortDirection="desc" multiTemplateDataRows>
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                          [checked]="selection.hasValue() && isAllSelected()"
                                                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let item">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                          (change)="$event ? selection.toggle(item.codPagarId) : null; addSelectionModel(item, $event.checked); calcularSelecionados();"
                                                          [checked]="selection.isSelected(item.codPagarId)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="codLojaId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loja</th>
                                        <td mat-cell *matCellDef="let item">{{item.codLojaId}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="codPagarId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                        <td mat-cell *matCellDef="let item">{{item.codPagarId}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="numTit">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Número do título</th>
                                        <td mat-cell *matCellDef="let item">{{item.numTit}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="parcela">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                                        <td mat-cell *matCellDef="let item">{{item.parcela}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="nota">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nota</th>
                                        <td mat-cell *matCellDef="let item">{{item.nota}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="fornecedor">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fornecedor</th>
                                        <td mat-cell *matCellDef="let item" matTooltip="Fantasia: {{item.fantasia}}">{{item.codFornecId}} - {{item.razao}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="dtEntrada">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada</th>
                                        <td mat-cell *matCellDef="let item">{{item.dtEntrada}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="dtEmissao">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Emissão</th>
                                        <td mat-cell *matCellDef="let item">{{item.dtEmissao}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="dtVencto">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</th>
                                        <td mat-cell *matCellDef="let item">{{item.dtVencto}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="valorpagar">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>R$ Pagar</th>
                                        <td mat-cell *matCellDef="let item">{{item.valorPagar}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="valorjuros">
                                        <th mat-header-cell *matHeaderCellDef>R$ Juros</th>
                                        <td mat-cell *matCellDef="let item">
                                            <input matInput
                                                   currencyMask [options]="{ prefix: 'R$', suffix: '', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                                                   [(ngModel)]="item.valorJuros"
                                                   [ngModelOptions]="{standalone: true}" />
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="valormulta">
                                        <th mat-header-cell *matHeaderCellDef>R$ Multa</th>
                                        <td mat-cell *matCellDef="let item">
                                            <input matInput
                                                   currencyMask [options]="{ prefix: 'R$', suffix: '', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                                                   [(ngModel)]="item.valorMulta"
                                                   [ngModelOptions]="{standalone: true}" />
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="valordesconto">
                                        <th mat-header-cell *matHeaderCellDef>R$ Desconto</th>
                                        <td mat-cell *matCellDef="let item">
                                            <input matInput
                                                   currencyMask [options]="{ prefix: 'R$', suffix: '', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                                                   [(ngModel)]="item.valorDesc"
                                                   [ngModelOptions]="{standalone: true}" />
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="valor">
                                        <th mat-header-cell *matHeaderCellDef>R$ Título</th>
                                        <td mat-cell *matCellDef="let item">{{item.valor}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="acoes" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef style="text-align: right !important;">Ações</th>
                                        <td mat-cell *matCellDef="let item;" style="text-align: right;">
                                            <button type="button" mat-icon-button aria-label="Editar" (click)="consultarTitulo(item.codPagarId)" class="blue-fg" matTooltip="Editar/Consultar" *ngIf="_usuario.checkPermissionControl('251', 'consultar')">
                                                <mat-icon>create</mat-icon>
                                            </button>
                                            <button type="button" mat-icon-button aria-label="Baixar" (click)="baixarIndividual(item.codPagarId, item.codLojaId)" class="fuse-black-500-fg" matTooltip="Baixar título" *ngIf="_usuario.checkPermissionControl('251', 'editar')">
                                                <mat-icon>money</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row style="white-space: nowrap;" *matHeaderRowDef="colunasItens;"></tr>
                                    <tr mat-row style="white-space: nowrap;" *matRowDef="let row; columns: colunasItens"
                                        [ngClass]="{'blue-fg'  : _utils.verificarVencidosTrinta(row.dtVencto),
                                                'pink-fg'  : _utils.verificarVencidosTrintaSessenta(row.dtVencto),
                                                'orange-fg': _utils.verificarVencidosSessenta(row.dtVencto),
                                                'indigo-fg': row.venceHoje,
                                                'text-bold':  row.venceHoje}"></tr>

                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 50]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
