<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <!--<a href="https://1.envato.market/c/1257954/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffuse-angularjs-material-design-admin-template%2F12931855"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>
            <span>Purchase FUSE (Angular 8+)</span>
        </a>-->
        <!--<div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>-->

        <div style="font-size: 10pt; width: 100%; color: #888;">
         
            <b>Versão: 1.0.0</b> 
            <!--<b>Logado desde:</b> {{loginData().dataEntrada}}-->
        </div>
        <span>Desenvolvido por </span>
        <a href="http://owltech.com.br/" target="_blank" class="pull-right">
            <img src="assets/images/logos/Owltech_Logos_owltec_assinatura_roxo.png" style="width: 200px;" />
        </a>

    </div>

</mat-toolbar>
