<h1 mat-dialog-title>
    <button mat-icon-button (click)="dialogRef.close()" style="float:right;"><mat-icon>close</mat-icon></button>
</h1>

<mat-dialog-content>

    <mat-card class="lime-300-bg mat-elevation-z4">

        <h1 class="title">{{titulo}}</h1>

        <div id="nf" *ngIf="exibeNf" fxflex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15rem" fxLayoutGap.lt-md="0px">
            <mat-label fxLayout="row" fxLayout.lt-md="column">Data de emissão: {{dataEmissao}}</mat-label>
            <mat-label fxLayout="row" fxLayout.lt-md="column">Condição de pagamento: {{condPagto}}</mat-label>
        </div>

        <div id="cupom" *ngIf="exibeCupom" style="font-weight:bold">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15rem" fxLayoutGap.lt-md="0px">
                <mat-label fxLayout="row" fxLayout.lt-md="column">Data: {{dataEmissao}}</mat-label>
                <mat-label fxLayout="row" fxLayout.lt-md="column">Hora: {{hora}}</mat-label>
                <mat-label fxLayout="row" fxLayout.lt-md="column">Loja: {{loja}}</mat-label>
                <mat-label fxLayout="row" fxLayout.lt-md="column">Caixa: {{caixa}}</mat-label>
                <mat-label fxLayout="row" fxLayout.lt-md="column">Sequencial: {{sequencial}}</mat-label>
            </div>
            <br />
            <div fxLayoutGap="15rem" fxLayoutGap.lt-md="0px">
                <mat-label fxLayout="row" fxLayout.lt-md="column">Operador: {{operador}}</mat-label>
                <mat-label fxLayout="row" fxLayout.lt-md="column">Cliente: {{cliente}}</mat-label>
                <div *ngFor="let item of itensFormaPagto">
                    <mat-label fxLayout="row" fxLayout.lt-md="column">Forma de pagamento: {{item.condPagto}}</mat-label>
                </div>
            </div>
        </div>
        <br />

        <div align="left" style="font-weight:bold" class="lime-300-bg" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15rem" fxLayoutGap.lt-md="0px">

            <input matInput currencyMask
                   [options]="{ prefix: 'Total: R$', thousands: '.',decimal: ',', allowNegative: false, allowZero: false, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                   placeholder="" [(ngModel)]="valorTotal"
                   [ngModelOptions]="{standalone: true}"
                   style="font-weight: bold;"
                   readonly />
            <input matInput currencyMask
                   [options]="{ prefix: 'Troco: R$', thousands: '.',decimal: ',', allowNegative: false, allowZero: false, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                   placeholder="" [(ngModel)]="troco"
                   [ngModelOptions]="{standalone: true}"
                   style="font-weight: bold;"
                   readonly />
            <input matInput currencyMask
                   [options]="{ prefix: 'Qtd. Itens:', thousands: '.',decimal: ',', allowNegative: false, allowZero: false, nullable: false, align: 'left', precision: 0, inputMode: 1 }"
                   placeholder="" [(ngModel)]="qtdItens"
                   [ngModelOptions]="{standalone: true}"
                   style="font-weight: bold;"
                   *ngIf="exibeCupom"
                   readonly />
        </div>

    </mat-card>

    <div *ngIf="!temItens && exibeCupom" class="alert alert-warning mt-20" role="alert">
        <mat-icon>warning</mat-icon>
        Não encontramos registros para a consulta.
    </div>
    <div [hidden]="!temItens && !exibeCupom" style="position: relative;">
        <div class="table-scroller">
            <table mat-table class="lime-200-bg table table-medium table-hover" [dataSource]="itensCupomNf" matSort matSortActive="descricao" matSortDisableClear matSortDirection="asc">

                <ng-container matColumnDef="produtoId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                    <td mat-cell *matCellDef="let item">{{item.produtoId}}</td>
                </ng-container>
                <ng-container matColumnDef="barra">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Barra</th>
                    <td mat-cell *matCellDef="let item">{{item.barra}}</td>
                </ng-container>
                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                    <td mat-cell *matCellDef="let item">{{item.descricao}}</td>
                </ng-container>
                <ng-container matColumnDef="qtd">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Qtd.</th>
                    <td mat-cell *matCellDef="let item">
                        <input matInput currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 3, inputMode: 1 }"
                               placeholder=""
                               [(ngModel)]="item.qtd"
                               [ngModelOptions]="{standalone: true}"
                               readonly>
                    </td>
                </ng-container>
                <ng-container matColumnDef="valorUnit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>R$ Unit.</th>
                    <td mat-cell *matCellDef="let item">
                        <input matInput currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                               placeholder=""
                               [(ngModel)]="item.valorUnit"
                               [ngModelOptions]="{standalone: true}"
                               readonly>
                    </td>
                </ng-container>
                <ng-container matColumnDef="valorTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>R$Total</th>
                    <td mat-cell *matCellDef="let item">
                        <input matInput currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                               placeholder=""
                               [(ngModel)]="item.valorTotal"
                               [ngModelOptions]="{standalone: true}"
                               readonly>
                    </td>
                </ng-container>
                <ng-container matColumnDef="baseIcms">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Base Calc.</th>
                    <td mat-cell *matCellDef="let item">
                        <input matInput currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                               placeholder=""
                               [(ngModel)]="item.baseIcms"
                               [ngModelOptions]="{standalone: true}"
                               readonly>
                    </td>
                </ng-container>
                <ng-container matColumnDef="valorIcms">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor ICMS</th>
                    <td mat-cell *matCellDef="let item">
                        <input matInput currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false, allowZero: true, nullable: false, align: 'left', precision: 2, inputMode: 1 }"
                               placeholder=""
                               [(ngModel)]="item.valorIcms"
                               [ngModelOptions]="{standalone: true}"
                               readonly>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colunasItens;"></tr>
                <tr mat-row *matRowDef="let item; columns: colunasItens"></tr>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button type="button" mat-button (click)="dialogRef.close()" class="grey-300-bg">
        Fechar
    </button>
</mat-dialog-actions>